.bmpui-ui-controlbar {
  z-index: 20;
  padding: 0;
}

.flowics-overlay.flowics-hidden .flowicsgraphicsFrame {
  display: none;
}

.bmpui-ui-titlebar,
.bmpui-ui-titlebar.bmpui-hidden {
  z-index: 2;
}
